<div class="container">
    <% @user = current_user %>
    <p>Welome to Blocipedia <%= @user.email %></p>
<div class="col-md-4">
    <p>Would you like to create a new Wiki?</p>
     <div>
       <%= link_to "Create Wiki", new_wiki_path, class: 'btn btn-success' %>
       <%= link_to "All My Wikis", wikis_path, class: 'btn btn-success' %>
     </div>
 
  <div>
</div>